a{
    color: #000;
}
a:link{
    text-decoration: none;
    color: #000;
}
.bgimg1{
    background-image: url("../img/bg1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    background-size: cover;
    height: 400px;
}
.txth{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 25px 50px;
    border-radius: 15px 50px;
}
.imgstory img{
    max-width: 60%;
    border-radius:20px;
}
.imgstory img:hover{
    -moz-transform: scale(1.01);
    -o-transform: scale(1.01);
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
    -moz-transition: 1s ease;
    -o-transition: 1s ease;
    -webkit-transition: 1s ease;
    transition: 1s ease;
}
.bgimg2{
    background-image: url("../img/bg-intro-01.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 250px;
    /* overflow: scroll; */
}
.text-fff{
    color: #fff;
}
.menu img{
    width: 100%;
    border-radius: 20px;
}
.mebt:hover{
    -webkit-transition: all .6s;
    -o-transition: all .6s;
    transform: scale(1.02);
    -moz-transition: all .6s;
    transition: all .6s;
}
.btnmenu{
    position: absolute;
    top: 50%;
    width: 90%;
    left: 5%;
}
.bking{
    overflow: hidden;
    text-align: center;
    border-radius: 20px;
}
.bking img{
    width: 100%;
    
}
.bking img:hover{
    -webkit-transition: all .6s;
    -o-transition: all .6s;
    transform: scale(1.2);
    -moz-transition: all .6s;
    transition: all .6s;
}
@media only screen and (max-width:576px){
    .txth h1{
        font-size: 24px;
    }
    .txth h2{
        font-size: 20px;
    }
    .txth h3{
        font-size: 16px;
    }
}